In [100]:
import numpy as np
import pandas as pd

In [101]:
df = pd.read_csv('data/train_clean.csv', index_col=0, parse_dates=True)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,2.0,Snack,motorcycle,0.0,No,Urban,24
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,2.0,Snack,scooter,1.0,No,Metropolitian,33
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,0.0,Drinks,motorcycle,1.0,No,Urban,26
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,0.0,Buffet,motorcycle,1.0,No,Metropolitian,21
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,1.0,Snack,scooter,1.0,No,Metropolitian,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41363,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,11:35:00,11:45:00,Windy,High,1.0,Meal,motorcycle,0.0,No,Metropolitian,32
41364,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,19:55:00,20:10:00,Windy,Jam,0.0,Buffet,motorcycle,1.0,No,Metropolitian,36
41365,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,23:50:00,00:05:00,Cloudy,Low,1.0,Drinks,scooter,0.0,No,Metropolitian,16
41366,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,13:35:00,13:40:00,Cloudy,High,0.0,Snack,motorcycle,1.0,No,Metropolitian,26
41367,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,17:10:00,17:15:00,Fog,Medium,2.0,Snack,scooter,1.0,No,Metropolitian,36

# Time taken for driver to pick up order

In [102]:
# changing the date data
df['Order_Date'] = pd.to_datetime(df['Order_Date'], infer_datetime_format=True)
df['Time_Order_picked'] = pd.to_datetime(df['Time_Order_picked'], format='%H:%M:%S')
df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S')

In [103]:
same_day = (df[df['Time_Orderd'] <= df['Time_Order_picked']]['Time_Order_picked'] - df[df['Time_Orderd'] <= df['Time_Order_picked']]['Time_Orderd']).dt.total_seconds()/60
next_day = (df[df['Time_Orderd'] > df['Time_Order_picked']]['Time_Order_picked'] + pd.DateOffset(1) - df[df['Time_Orderd'] > df['Time_Order_picked']]['Time_Orderd']).dt.total_seconds()/60

In [104]:
df.loc[next_day.index, 'Order_Pickup_Time'] = next_day
df.loc[same_day.index, 'Order_Pickup_Time'] = same_day
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Order_Pickup_Time
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,...,Sunny,High,2.0,Snack,motorcycle,0.0,No,Urban,24,15.0
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,...,Stormy,Jam,2.0,Snack,scooter,1.0,No,Metropolitian,33,5.0
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,...,Sandstorms,Low,0.0,Drinks,motorcycle,1.0,No,Urban,26,15.0
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,...,Sunny,Medium,0.0,Buffet,motorcycle,1.0,No,Metropolitian,21,10.0
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,...,Cloudy,High,1.0,Snack,scooter,1.0,No,Metropolitian,30,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41363,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,1900-01-01 11:35:00,...,Windy,High,1.0,Meal,motorcycle,0.0,No,Metropolitian,32,10.0
41364,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,1900-01-01 19:55:00,...,Windy,Jam,0.0,Buffet,motorcycle,1.0,No,Metropolitian,36,15.0
41365,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,1900-01-01 23:50:00,...,Cloudy,Low,1.0,Drinks,scooter,0.0,No,Metropolitian,16,15.0
41366,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,1900-01-01 13:35:00,...,Cloudy,High,0.0,Snack,motorcycle,1.0,No,Metropolitian,26,5.0
41367,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,1900-01-01 17:10:00,...,Fog,Medium,2.0,Snack,scooter,1.0,No,Metropolitian,36,5.0

# Adding in Distance Data

In [105]:
from math import radians, cos, sin, asin, sqrt

In [106]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers is 6371
    m = 6371* c * 1000
    return m

df['Delivery_Distance (m)'] = [haversine(df['Restaurant_longitude'][i],df['Restaurant_latitude'][i],df['Delivery_location_longitude'][i],df['Delivery_location_latitude'][i]) for i in range(len(df))]
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Order_Pickup_Time,Delivery_Distance (m)
0,0x4607,INDORES13DEL02,37.0,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,1900-01-01 11:30:00,...,High,2.0,Snack,motorcycle,0.0,No,Urban,24,15.0,3025.149286
1,0xb379,BANGRES18DEL02,34.0,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,1900-01-01 19:45:00,...,Jam,2.0,Snack,scooter,1.0,No,Metropolitian,33,5.0,20183.529729
2,0x5d6d,BANGRES19DEL01,23.0,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,1900-01-01 08:30:00,...,Low,0.0,Drinks,motorcycle,1.0,No,Urban,26,15.0,1552.757802
3,0x7a6a,COIMBRES13DEL02,38.0,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,1900-01-01 18:00:00,...,Medium,0.0,Buffet,motorcycle,1.0,No,Metropolitian,21,10.0,7790.401360
4,0x70a2,CHENRES12DEL01,32.0,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,1900-01-01 13:30:00,...,High,1.0,Snack,scooter,1.0,No,Metropolitian,30,15.0,6210.137966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41363,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,1900-01-01 11:35:00,...,High,1.0,Meal,motorcycle,0.0,No,Metropolitian,32,10.0,1489.845884
41364,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,1900-01-01 19:55:00,...,Jam,0.0,Buffet,motorcycle,1.0,No,Metropolitian,36,15.0,11007.734764
41365,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,1900-01-01 23:50:00,...,Low,1.0,Drinks,scooter,0.0,No,Metropolitian,16,15.0,4657.195394
41366,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,1900-01-01 13:35:00,...,High,0.0,Snack,motorcycle,1.0,No,Metropolitian,26,5.0,6232.393050
41367,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,1900-01-01 17:10:00,...,Medium,2.0,Snack,scooter,1.0,No,Metropolitian,36,5.0,12074.395526

# Delivery Dates

I suspect that delivery time varies by month due to conditions (ie. rainy, icy, dry, etc)

In [107]:
df['Ordered_month'] = df['Order_Date'].dt.month
df['Ordered_year'] = df['Order_Date'].dt.year

I also suspect that the road conditions on the day varies by what time it is

In [108]:
df['Ordered_time (mins)'] = df['Time_Orderd'].dt.hour * 60 + df['Time_Orderd'].dt.minute

In [113]:
df.drop(['ID', 'Delivery_person_ID', 'Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude','Order_Date', 'Time_Orderd', 'Time_Order_picked'], axis=1)

,Delivery_person_Age,Delivery_person_Ratings,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Order_Pickup_Time,Delivery_Distance (m),Ordered_month,Ordered_year,Ordered_time (mins)
0,37.0,4.9,Sunny,High,2.0,Snack,motorcycle,0.0,No,Urban,24,15.0,3025.149286,3,2022,690
1,34.0,4.5,Stormy,Jam,2.0,Snack,scooter,1.0,No,Metropolitian,33,5.0,20183.529729,3,2022,1185
2,23.0,4.4,Sandstorms,Low,0.0,Drinks,motorcycle,1.0,No,Urban,26,15.0,1552.757802,3,2022,510
3,38.0,4.7,Sunny,Medium,0.0,Buffet,motorcycle,1.0,No,Metropolitian,21,10.0,7790.401360,4,2022,1080
4,32.0,4.6,Cloudy,High,1.0,Snack,scooter,1.0,No,Metropolitian,30,15.0,6210.137966,3,2022,810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41363,30.0,4.8,Windy,High,1.0,Meal,motorcycle,0.0,No,Metropolitian,32,10.0,1489.845884,3,2022,695
41364,21.0,4.6,Windy,Jam,0.0,Buffet,motorcycle,1.0,No,Metropolitian,36,15.0,11007.734764,2,2022,1195
41365,30.0,4.9,Cloudy,Low,1.0,Drinks,scooter,0.0,No,Metropolitian,16,15.0,4657.195394,3,2022,1430
41366,20.0,4.7,Cloudy,High,0.0,Snack,motorcycle,1.0,No,Metropolitian,26,5.0,6232.393050,3,2022,815
41367,23.0,4.9,Fog,Medium,2.0,Snack,scooter,1.0,No,Metropolitian,36,5.0,12074.395526,3,2022,1030